
body {
  font-family: Arial;
  background: #f5f5f5;
  margin: 0;
}

header {
  background: #111;
  color: white;
  text-align: center;
  padding: 15px;
}

.dashboard {
  background: white;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}

.dashboard input {
  padding: 10px;
  margin: 5px;
  width: 200px;
}

button {
  padding: 10px 15px;
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.courses {
  margin: 20px;
}

.card {
  background: white;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.card a {
  display: block;
  margin-top: 10px;
  color: blue;
}
